/build/
/app/build/
/app/release/


.gradle/
.idea/
*.iml
*.log
*.keystore


local.properties


.cache/
.cxx/


.DS_Store
Thumbs.db


*.swp
*.swo
*.bak
*.class
*.dex


/gen/
/out/


/logs/
/crash-reports/


google-services.json
